#cloud-config
write_files:
  - path: /etc/krb5.conf
    encoding: base64
    permissions: '0644'
    content: |
      ${krb5_conf}

runcmd:
  - docker pull ${agent_image}
  - docker run -d -e TFC_AGENT_TOKEN=${agent_token} -e TFC_AGENT_NAME=${agent_name} -e TFC_AGENT_REQUEST_FORWARDING=${enable_request_forwarding} --mount type=bind,source=/etc/krb5.conf,target=/etc/krb5.conf --restart always ${agent_image}
